@use '../settings' as *
@use '../mixin' as mx

.l-box
  width: 100%
  height: 100vh
  scroll-snap-type: y mandatory
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

.section
  &__title
    padding: 10px 0
    font-weight: bold
  &--face
    position: relative
    max-width: 1000px
    margin: 0 auto
