
$base_color: #44B95D
$focus_color: #1a815f
$base_dark_color: #010010
$gray_color: #ccc
$gary_thin_color: #dbdbdb
$gary_thin_gray_color: #f7f8f8
$white_color: #fff
$red_color: #c80000

$boxShadow: rgba(0,0,0,0.16)
$color_w_rgba :rgba(255,255,255,0.8)
$color_w_f_rgba :rgba(255,255,255,0.3)
$color_b_rgba :rgba(0,0,0,0.16)
$color_b_rgba_02 :rgba(0,0,0,0.6)

$title_font_size: 1.6rem
$subtitle_font_size: 1.2rem
$body_font_size: 1.4rem
$small_font_size: 1.0rem

$small-px: 460px
$middle-px: 768px
$base-px: 960px
$large-px: 1280px

$small-s-svh: 40svh
$middle-m-svh: 70svh
$high-h-svh: 90svh
